.contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 150px;
  box-sizing: border-box;
  padding-top: 50px;
  min-height: 100vh;
  h2 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 75px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }
  .right-left-container {
    // margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    .flex {
      flex: 1;
    }
    .left-side {
      .contacts {
        display: flex;
        flex-direction: row;
        gap: 20px;
        height: 70px;
        margin-bottom: 10px;
        justify-content: left;
        align-items: center;
        .icons {
          height: 100%;
          font-size: 24px;
          justify-content: center;
          align-items: center;
          text-align: center;
          .icon {
            text-align: center;
            display: flex;
            height: 100%;
          }
        }
        .contact-label {
          display: flex;
          justify-content: space-between;
          padding: 15px 0px;
          flex-direction: column;
          height: 100%;
          box-sizing: border-box;
          h3 {
            color: #000;
            font-size: 20px;
            font-family: Raleway;
            font-weight: 700;
          }
          p {
            color: #000;
            font-size: 14px;
            font-family: Raleway;
            font-weight: 600;
          }
        }
      }
      .map {
        height: 310px;
        border: 0.1px solid #03234e;
        iframe {
          height: 100%;
          width: 100%;
        }
      }
    }
    .right-side {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .name-email {
        display: flex;
        gap: 20px;
        height: 80px;
        .flex1 {
          flex: 1;
        }
      }
      .text-area {
        height: 350px;
        display: flex;
        flex-direction: column;
        label {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 23px;
          color: #000000;
          margin-bottom: 5px;
        }
        textarea {
          height: 350px;
          width: 100%;
          background: rgba(163, 217, 249, 0.09);
          border: 2px solid #03234e;
          border-radius: 3px;
          padding: 10px 10px;
          font-size: 16px;
          box-sizing: border-box;
        }
      }
      .btn-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
