.btn {
    padding: 14px 60px;
    color: #023047;
    font-family: "Raleway";
    font-weight: 900;
    font-size: 30px;
    line-height: 134%;
    border-radius: 59px;
    max-width: 600px;
    // min-width: 350px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.orange-hover:hover{
    background-color: #FFB703;
    color: #023047;
}

.small-btn{
    padding: 10px 0px;
    font-family: "Raleway";
    // background-color: rgb(233, 96, 96);
    font-weight: 900;
    font-size: 24px;
    // line-height: 134%;
    border-radius: 59px;
    text-transform: uppercase;
    // width: 250px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    min-width: 350px;
}
.small-btn:hover{
    color: #023047;
    background-color: #FFB703;
}
.small-small-btn{
    padding: 10px 0px;
    font-family: "Raleway";
    font-weight: 900;
    // color: white;
    width: 150px;
    background-color: #FB8500;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.small-small-btn:hover{
    color: #023047;
    background-color: #FFB703;
}