input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.register-page {
    padding: 30px 150px;
    display: flex;
    justify-content: left;
    gap: 50px;
    flex-direction: column;

    .register-description {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        h1 {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 75px;
            margin-bottom: 10px;
        }

        p {
            width: 70%;
            font-style: 'Raleway';
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            text-align: justify;
        }
    }

    .personal-information {
        display: flex;
        justify-content: left;
        flex-direction: column;
        gap: 20px;

        .personal-information-inputs {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            gap: 100px;
            // flex-wrap: wrap;


            .img-uploader {
                // background: rgba(0, 0, 0, 0.1);
                border-radius: 15px;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                width: 400px;
                height: 250px;
                margin: 30px;
                cursor: pointer;

                .ppimage {
                    background-color: #03234E;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 30%;
                    img {
                        width: 100%;
                        border-radius: 30%;
                        height: 100%;

                        cursor: pointer;

                    }
                }


                #profileImg {
                    display: none;
                }
            }

            .information-inputs {
                display: flex;
                width: 100%;
                gap: 20px;
                flex-direction: column;

                .fist-middle-name,
                .last-name,
                .type-phone {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    gap: 20px;
                    flex-wrap: wrap;

                }

                .type-phone {
                    .selection-container {
                        display: flex;
                        justify-content: center;
                        flex: 1;
                        flex-direction: column;

                        label {
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 23px;
                            color: #000000;
                            margin-bottom: 5px;
                        }

                        .selection {
                            background: rgba(163, 217, 249, 0.09);
                            border: 2px solid #03234E;
                            border-radius: 5px;
                            // min-width: 350px;
                            height: 55px;
                            padding: 5px 10px;
                            font-size: 18px;
                        }
                    }

                }
            }
        }

    }

    .address-information,
    .registration-information,
    .educational-bg-information,
    .emergency-information,
    .login-information {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .address-inputs,
        .registration-inputs,
        .educational-bg-inputs,
        .emergency-inputs,
        .login-inputs {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;
        }

        .address-inputs {
            display: flex;
            flex-direction: column;

            .address {
                display: flex;
                flex: 1;
                flex-direction: row;
                gap: 30px;
            }
        }
    }

    .registration-inputs {
        display: flex;
        flex-direction: column;

        .registration {
            display: flex;
            flex-direction: row;
            flex: 1;
            gap: 30px;

        }
    }

    .educational-bg-inputs {
        display: flex;
        flex-direction: column;

        .educational-bg {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
    }

    .emergency-inputs {
        display: flex;
        flex-direction: column;

        .emergency {
            display: flex;
            flex-direction: row;
            gap: 30px;

            .selection-container {
                display: flex;
                justify-content: center;
                flex: 1;
                flex-direction: column;

                label {
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 23px;
                    color: #000000;
                    margin-bottom: 5px;
                }

                .selection {
                    background: rgba(163, 217, 249, 0.09);
                    border: 2px solid #03234E;
                    border-radius: 5px;
                    // min-width: 350px;
                    height: 55px;
                    padding: 5px 10px;
                    font-size: 18px;
                }
            }
        }
    }

    .button-container {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}