.nav-bar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  flex-direction: row;
  background-color: #023047;
  padding: 0px 100px;

  .logo-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    img {
      width: 50px;
    }
    h1 {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      // line-height: 100px;
      text-transform: uppercase;
      color: white;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    gap: 15px;
    .nav1 {
      margin: 0;
      text-transform: capitalize;
      color: #fff;
      font-size: 20px;
      font-family: Raleway;
      font-weight: 600;
      background-color: #024262;
      padding: 5px 12px;
      border-radius: 10px;
      &:hover {
        // border-bottom: 1px solid #fb8500 ;
        background-color: #087bb4;
      }
    }
    .hero {
      background-color: #024262;
      padding: 5px 12px;
      border-radius: 10px;
      color: #fb8500;
      font-weight: bolder;
    }
    // .admin {
    //   background-color: #024262;
    //   padding: 5px 12px;
    //   border-radius: 10px;
    // }
  }
}
